@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --color-border: rgba(0,0,0,0.35);
  --color-bk: rgba(255, 255, 255, 0.89);
  --color-card-bk: rgba(255, 255, 255, 85);
  --color-card-bk-img: rgba(47,179,57,0.5);
  --color-card-body-p: rgba(0,0,0,0.6);
  --color-card-footer-button: rgba(0,0,0,0.9);
  --border-radius: 1rem;
}

*{
  margin: auto;
  text-rendering: optimizelegibility !important;
}
section {
  width: 90vw;
  border: 1px solid red;
}

.container {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: var(--color-bk);
}

.card-container {
  transition: 100ms;
  width: 250px;
  height: auto;
  margin: auto;
  border-color: var(--color-border);
  background-color: var(--color-card-bk);
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  box-shadow: 20px 16px 29px -12px rgba(0,0,0,0.22);
  -webkit-box-shadow: 20px 16px 29px -12px rgba(0,0,0,0.22);
  -moz-box-shadow: 20px 16px 29px -12px rgba(0,0,0,0.22);
}

.card-container:hover {
  transform: scale(1.03);
}

.card-img {
  display: flex;
  /* background-color: var(--color-card-bk-img); */
  border-radius: var(--border-radius);
  height: 200px;
  border-color: var(--color-border);
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.card-img img {
  transform: translateY(-10%);
}

.card-body {
  color: rgba(0,0,0,0.70);
  padding: 1rem 0.5rem 0rem 0.5rem;
}

.card-body p{
  font-size: 15px;
  line-height: 1.3rem;
  letter-spacing: 0.01rem;
  color: var(--color-card-body-p);
  padding: 0.4rem auto 0.4rem auto;
}




/* ############ CARD FOOTER ############# */

.card-footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
}

.card-footer {
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  width: 70%;
  font-weight: bold;
  font-size: 16px;
}

.card-footer p{
  display: inline;
  color: grey;
  width: auto;
  margin: 0;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.card-button {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-button:hover {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.22);
}

.card-state{
  color: black;
}

.card-buttonadd {
  font-size: 14px;
  transition: 200ms;
  color: rgb(0, 110, 255) !important;
}

.card-buttonadd:hover {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.22);
  cursor: pointer;
}